---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main id="main" tabindex="-1">
			<Header />
			<article class="wrapper flow region pt-xs">
				<h1 class="text-step-3 pb-s">{SITE_DESCRIPTION}</h1>
				<p>The Internet has <a href="https://www.myclimate.org/information/faq/faq-detail/what-is-a-digital-carbon-footprint/" target="_blank">an enormous carbon footprint</a>. We’re working to fix that, and to help others do the same.</p>
				<p><strong>low-carbon</strong>.digital is the digital consultancy of Jack Lenox, working with clients globally from a studio in Lancaster in the UK.</p>
				<p>Jack has worked for decades as an engineer in the web industry, landing his first paid freelance gig in 1999 (at the age of 12!). Over the last ten years he has worked with major, international clients as a Principal Engineer for over five years at <a href="https://wpvip.com" target="_blank">WordPress VIP</a>, and as an Engineering Manager for just over a year at <a href="https://humanmade.com" target="_blank">Human Made</a>.</p>
				<p>In recent years, he has become an influential figure on the topic of <a href="https://sustywp.com/" target="_blank">digital sustainability</a>. He is a collaborator with <a href="https://www.thegreenwebfoundation.org/" target="_blank">The Green Web Foundation</a>, and is award-winning for his work there as the lead developer of <a href="https://branch.climateaction.tech/" target="_blank">Branch Magazine</a>. Through this colloboration, his work has also been <a href="https://www.vam.ac.uk/event/EY7xyG3q/digital-design-weekend-2021" target="_blank">exhibited at the V&amp;A</a> as part of the London Design Festival 2021.</p>
				<p><strong>low-carbon</strong>.digital is currently taking on new clients, so email <strong>enquiries@low-carbon.digital</strong> if you’d like to talk about a project. We’d love to hear from you. You can also follow us on <a rel="me" href="https://fosstodon.org/@lowcarbondigital">Mastodon</a>.</p>
			</article>
		</main>

		<script async defer src="https://scripts.withcabin.com/hello.js"></script>
	</body>
</html>
