---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main id="main" tabindex="-1">
			<article class="wrapper flow region pt-xs">
				<h1 class="text-step-3 pb-s">{SITE_DESCRIPTION}</h1>
				<p>The Internet has <a href="https://www.myclimate.org/information/faq/faq-detail/what-is-a-digital-carbon-footprint/" target="_blank">an enormous carbon footprint</a>. We’re working to fix that, and to help others do the same.</p>
				<p><strong>low-carbon</strong>.digital is a provider of digital consultancy and development services led by Jack Lenox. Jack has been working on the web for over 20 years and has worked with some of the largest companies in the world including Facebook, Samsung, HSBC, Al Jazeera, News UK, The New York Times, Time, CNN and Hachette Book Group.</p>
				<p>Having worked as a Principal Engineer with WordPress VIP for the better part of a decade, he is now focused on bringing enterprise-level services to organisations who are focused on tackling the climate and nature crises we currently face through <strong>low-carbon</strong>.digital.
				<p>Jack is a leading practitioner of sustainable web design. He has spoken at numerous high-profile conferences on the topic and provided training to hundreds of developers. He is the lead developer of the award-winning climate magazine <a href="https://branch.climateaction.tech/" target="_blank">Branch Magazine</a> and a contributing engineer to <a href="https://www.thegreenwebfoundation.org/" target="_blank">The Green Web Foundation</a> and the <a href="https://climateaction.tech/" target="_blank">ClimateAction.Tech</a> community. He is also a contributor to – and founding signatory of – the <a href="https://www.sustainablewebmanifesto.com/" target="_blank">Sustainable Web Manifesto</a>.</p>
				<p><strong>low-carbon</strong>.digital is currently taking on new clients, so email <a href="mailto:enquiries@low-carbon.digital?subject=low-carbon.digital enquiry"><strong>enquiries@low-carbon.digital</strong></a> if you’d like to talk about a project. We’d love to hear from you. You can also follow us on <a rel="me" href="https://fosstodon.org/@lowcarbondigital">Mastodon</a>.</p>
			</article>
		</main>

		<Footer />
	</body>
</html>
