@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/AtkinsonHyperlegibleRegular.woff2') format('woff2');
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/AtkinsonHyperlegibleRegularExtras.woff2') format('woff2');
  unicode-range: U+00A0-00FF, U+0100-017F;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/AtkinsonHyperlegibleItalic.woff2') format('woff2');
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/AtkinsonHyperlegibleItalicExtras.woff2') format('woff2');
  unicode-range: U+00A0-00FF, U+0100-017F;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/AtkinsonHyperlegibleBold.woff2') format('woff2');
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/AtkinsonHyperlegibleBoldExtras.woff2') format('woff2');
  unicode-range: U+00A0-00FF, U+0100-017F;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/AtkinsonHyperlegibleBoldItalic.woff2') format('woff2');
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/AtkinsonHyperlegibleBoldItalicExtras.woff2') format('woff2');
  unicode-range: U+00A0-00FF, U+0100-017F;
}
